<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    
    <a class="navbar-brand ps-3" href="javascript:void(0)" routerLink="">Admin UI Angular</a>
    
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="javascript:void(0)"><i
            class="fas fa-bars"></i></button>

    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
    </form>

    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4  ms-auto me-0 me-md-3 my-2 my-md-0">
        <label class="nav-link">Registered ID : <span class="text-white">{{registeredID}}</span></label>
    </ul>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4  ms-auto me-0 me-md-3 my-2 my-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <!-- <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#myModal">Profile</a></li>
            <li><hr class="dropdown-divider" /></li> -->
                <li class="px-2"><a class="dropdown-item bg-danger text-white rounded text-center"
                        href="javascript:void(0)" (click)="logOut()">Logout</a></li>
            </ul>
        </li>
    </ul>


</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="card w-25 mx-auto p-2 my-2 mt-4 text-center rounded-circle text-center">
                        <!-- <img src=""> -->
                        <i class="fa fa-3x fa-check-circle"></i>
                    </div>

                    <label class="mx-auto mb-3">Brand Name</label>
                    <div class="sb-sidenav-menu-heading">Modules & Operations</div>
                    <aside *ngFor="let item of menu">

                    <a class="nav-link" href="javascript:void(0)" [routerLink]="item.routerLinkUrl" routerLinkActive="blue">
                        <div class="sb-nav-link-icon"><i [class]="item.icon" routerLinkActive="blue"></i></div>
                        {{item.moduleName}}
                    </a>
                    

                    <!-- <div class="sb-sidenav-menu-heading mt-5">Support</div>
                  <a class="nav-link collapsed" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                      <div class="sb-nav-link-icon"><i class="fas fa-handshake"></i></div>
                      Help & Support
                      <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                  </a>
                  <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                      <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="javascript:void(0)" routerLink="helpdesk" routerLinkActive="blue">
                            <div class="sb-nav-link-icon"><i class="fas fa-headset" routerLinkActive="blue"></i></div>
                            Help Desk
                        </a>
                      </nav>
                  </div> -->

                </aside>

                </div>
            </div>
            <!-- User Logged-In Info -->
            <!-- <div class="sb-sidenav-footer">
              <div class="small">Logged in as:</div>
              Start Bootstrap
          </div> -->
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container px-4">

                <router-outlet></router-outlet>

            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="small  text-center">
                    <div class="text-muted">Copyright &copy; 2023. Designed & Developed by
                        <a href="https://sibinventures.com" target="_blank" class="text-decoration-none">Web Designer Sikkim</a>
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>